## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,85.23,52,39,3.00,scattered clouds
1,1,Dharchula,IN,29.8500,80.5333,68.22,60,23,5.08,few clouds
2,2,Saint-Philippe,RE,-21.3585,55.7679,67.59,69,1,5.79,clear sky
3,3,Sechura,PE,-5.5569,-80.8222,77.18,60,31,14.25,scattered clouds
4,4,Bluff,NZ,-46.6000,168.3333,52.81,91,85,11.63,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,85.23,52,39,3.00,scattered clouds
3,3,Sechura,PE,-5.5569,-80.8222,77.18,60,31,14.25,scattered clouds
9,9,Kapaa,US,22.0752,-159.3190,79.12,76,40,13.80,scattered clouds
10,10,Abnub,EG,27.2696,31.1511,88.02,14,10,9.93,clear sky
12,12,Sao Filipe,CV,14.8961,-24.4956,75.13,70,7,9.78,clear sky
15,15,Ler,SS,8.3018,30.1418,77.92,76,100,5.50,light rain
17,17,Sola,VU,-13.8833,167.5500,80.40,75,98,23.60,light rain
19,19,Rikitea,PF,-23.1203,-134.9692,77.61,73,99,19.48,overcast clouds
22,22,Hilo,US,19.7297,-155.0900,82.27,72,0,8.99,clear sky
23,23,Atuona,PF,-9.8000,-139.0333,78.75,67,84,20.31,broken clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                213
City                   213
Country                213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [12]:
preferred_cities_df.count()

City_ID                213
City                   213
Country                213
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,85.23,52,39,3.00,scattered clouds
3,3,Sechura,PE,-5.5569,-80.8222,77.18,60,31,14.25,scattered clouds
9,9,Kapaa,US,22.0752,-159.3190,79.12,76,40,13.80,scattered clouds
10,10,Abnub,EG,27.2696,31.1511,88.02,14,10,9.93,clear sky
12,12,Sao Filipe,CV,14.8961,-24.4956,75.13,70,7,9.78,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,Sing Buri,TH,14.8500,100.2333,84.09,73,97,6.35,light rain
682,682,Manitouwadge,CA,49.1215,-85.8403,80.11,52,13,10.96,few clouds
688,688,Mount Juliet,US,36.2001,-86.5186,87.69,43,75,5.75,broken clouds
697,697,Gat,IL,31.6100,34.7642,79.39,21,1,7.61,clear sky
700,700,Manggar,ID,-2.8833,108.2667,80.20,78,100,1.97,overcast clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,85.23,scattered clouds,42.6001,-73.9662,
3,Sechura,PE,77.18,scattered clouds,-5.5569,-80.8222,
9,Kapaa,US,79.12,scattered clouds,22.0752,-159.3190,
10,Abnub,EG,88.02,clear sky,27.2696,31.1511,
12,Sao Filipe,CV,75.13,clear sky,14.8961,-24.4956,
15,Ler,SS,77.92,light rain,8.3018,30.1418,
17,Sola,VU,80.40,light rain,-13.8833,167.5500,
19,Rikitea,PF,77.61,overcast clouds,-23.1203,-134.9692,
22,Hilo,US,82.27,clear sky,19.7297,-155.0900,
23,Atuona,PF,78.75,broken clouds,-9.8000,-139.0333,

In [16]:
len(hotel_df)

213

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,85.23,scattered clouds,42.6001,-73.9662,Voorheesville
3,Sechura,PE,77.18,scattered clouds,-5.5569,-80.8222,Sechura
9,Kapaa,US,79.12,scattered clouds,22.0752,-159.3190,Kapaʻa
10,Abnub,EG,88.02,clear sky,27.2696,31.1511,Abnub
12,Sao Filipe,CV,75.13,clear sky,14.8961,-24.4956,Sao Filipe

In [19]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [22]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))